

<main class="main-area">
    
    <div class="centered">

        <section class="cards">
            
            <article class="card">
                
                    <div class="card-content">
                        <div class="card-header">
                            <h3>Tesla, Inc.</h3>
                          </div>
                          <div class="card-body">
                            
                            <h2 class="card-title">TSLA</h2>
                            <div>
                              <p class="card-text">Tesla, Inc. is an American electric vehicle and clean energy company based in Palo Alto, California. Tesla's current products include electric cars, battery energy storage from home to grid scale, solar products and related products and services.</p>
                            </div>
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                          </div>
                          <div class="card-footer">
                            Current Price: <a>429.95</a>
                          </div>
                    </div><!-- .card-content -->
               
            </article><!-- .card -->

        </section><!-- .cards -->
       
    </div><!-- .centered -->
    
</main>



