@if (isLoading) {
    <app-loader />
}@else {

<!-- All Stocks -->
<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Stock List</h6>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-dark">
                        <th scope="col">Logo</th>
                        <th scope="col">Stock Name</th>
                        <th scope="col">Ticker Symbol</th>
                        <th scope="col">Description</th>
                        <th scope="col">Price</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @for (stock of stocks; track $index) {
                        <tr>
                            <td class="img"><img src="{{stock.stockLogoLink}}" alt="{{stock.stockName | titlecase}}"></td>
                            <td>{{stock.stockName | titlecase}}</td>
                            <td>{{stock.stockTicker | uppercase}}</td>
                            <td class="description">{{stock.stockDescription | slice}}</td>
                            <td>{{stock.sharePrice | currency: 'USD'}}</td>
                            <td><a class="btn btn-sm btn-primary details-btn" [routerLink]="['/stocks', stock._id]">View Details</a> 
                                @if (!isWatching(stock)) {
                                <a class="btn btn-sm btn-primary watch-btn" (click)="watchStock(stock._id)">Add to Watchlist</a>}
                                @else{<a class="btn btn-sm btn-primary unwatch-btn" (click)="StopWatchStock(stock._id)">Remove From Watchlist</a>}
                            </td>
                        </tr>
                    }
                  
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- All Stocks End -->
}