.details-btn {
    margin-right: 10px;
}

.portfolio-btn {
background-color: green;
border-color: green;
}

.img {
    width: 100px;
    height: 100px;

}

.img img {
    width: 100%;
}

.description {
    width: 25%;
}