.details-btn {
    margin-right: 10px;
}

.watch-btn {
background-color: green;
border-color: green;
}

.unwatch-btn {
    background-color: red;
    border-color: red;
    }

.img {
    width: 100px;
    height: 100px;

}

.img img {
    width: 100%;
}

.description {
    width: 25%;
}