  <!-- Navbar Start -->
  <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
    <div class="logo-wrap">
      <a routerLink="/home"><img id="logo" src="logo.png" /></a>
    </div>

    
    <div class="navbar-nav align-items-center ms-auto">
        <div class="nav-item">
        <ul>
          <li>
            <a class="nav-link" routerLink="/add-stock">Add Stock</a>
          </li>
            <li>
              <a class="nav-link" routerLink="/login">Login</a>
            </li>
            <li>
              <a class="nav-link" routerLink="/register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" >Logout</a>
              </li>
              <li> <a routerLink="/profile" class="nav-link">
                <img class="rounded-circle me-lg-2" src="/user.jpg" alt="" style="width: 40px; height: 40px;">
                <span class="d-none d-lg-inline-flex">John Doe</span>
            </a></li>
  
          </ul>
        
           
        </div>
    </div>
</nav>
<!-- Navbar End -->