@if (stocks.length!=0) {

<main class="main-area">
    
    <div class="centered">

        <section class="cards">
            @for (stock of stocks; track $index) {
            <article class="card">
                <div class="card-content">
                    <div class="card-header">
                      <h1>{{stock.stockName | titlecase}}</h1>
                    </div>
                    <div class="card-body">
          
                      <h2 class="card-title">Ticker: {{stock.stockTicker | uppercase }}</h2>
                      <div><img src="{{stock.stockLogoLink}}" alt="{{stock.stockName}}">
                        <p class="card-text">{{stock.stockDescription}}</p>
                      </div>
                      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                    <div class="card-footer">
                      Current Price: <strong>{{stock.sharePrice | currency: 'USD'}}</strong>
                    </div>
                    <br>

                  </div>
            </article><!-- .card -->
        }
        </section><!-- .cards -->
       
    </div><!-- .centered -->
    
</main>}

@else {
    
    <div class="welcome">
        <h3>Watchlist is Empty!</h3>
        <p>
            Please add stocks to your watchlist!
        </p>
     

    </div>}
